.outer-rotated{
    position: fixed;
    height: 100px;
    width: 100px;
    
    top: 50px;
    transform: translateX(50px);
}
.rotated35{
    transform: rotate(35deg);
}

#left-rotated{
    right: 112vw;
}