.second-menu{
    display: block;
    position: fixed;
    right: -25%;
    top: 0;
    z-index: 4;
    height: 88vh;
    background-color: rgb(24, 24, 24) ;
    width: 20vw;
    padding-top: 100px;
    margin: 10px;
    border-radius: 15px;
    transition: 300ms;
    opacity: 0;

}
.second-menu.is-active{
    opacity: 1;
    right: 0;
}
.second-menu > .baskici-ebeveynlik, .iklim, .asiricilik {
    display: block;
    text-align: center;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    padding: 12px 16px;
    border-style: solid;
    border-color: black;
    background-color: white;
    text-decoration: none;
    color: black;
    font-family: unbounded;
    border-radius: 5px;

}
.second-menu .baskici-ebeveynlik:hover, .iklim:hover, .asiricilik:hover{
    transition: 200ms;
    border-color: white;
    background-color: black;
    text-decoration: none;
    color: white; 
    font-family: unbounded;

}
.back:hover{
    cursor: pointer;
}
.back{
    height: 40px;
    position: fixed;
    top: 10px;
    right: 60px;
    display: flex;
    text-align: center;
    width: 40px;
    max-width: 40px;
    margin: none;
    padding: none;
    border-style: none;
    border-color: none  ;
    background-color: none;
    text-decoration: none;
    color: none;
    font-family: unbounded;
    border-radius: none;
    z-index: 8;
    opacity: 0;
}
.back > img{
    height: 40px; 
    width: 40px;
}
.back.is-active{
    opacity: 1;
}
