.sliding-map-section{
    display: block;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 4;
    height: 88vh;
    background-color: rgb(24, 24, 24) ;
    width: 73vw;
    padding-top: 100px;
    margin: 10px;
    border-radius: 15px;
    transition: 300ms;
    opacity: 0;
    padding-left: 10vh;
}
.sliding-map-section p{
    font-family: unbounded;
    margin-left: 62px;
    color: white;
}
.sliding-map-section.is-active{
    display: block;
    position: fixed;
    left: 10px;
    top: 0;
    z-index: 4;
    height: 88vh;
    background-color: rgb(24, 24, 24) ;
    width: 73vw;
    padding-top: 100px;
    margin: 10px;
    border-radius: 15px;
    transition: 300ms;
    opacity: 1;
}
.map.is-active{
    transition: 200ms;
    border-color: white;
    background-color: black;
    text-decoration: none;
    color: white; 
    font-family: unbounded;
}